.Processes {
  background-color: #ffffff;
  width: 80%;
  margin: 15px auto;
  border-radius: 15px;
}

.Processes div:first-of-type {
  display: flex;
  align-items: center;
  background-color: #656060;
  color: #ffffff;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.Processes div {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
}

.Processes div:first-of-type ul {
  padding: 0;
  border: none;
  padding-bottom: 20px;
}
.Processes img {
  margin: 0 auto;
}

.Processes ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  vertical-align: middle;
  padding-bottom: 6px;
  border-bottom: 1px solid #707070;
  text-align: center;
  margin-bottom: 0;
}
.Processes div:last-of-type ul {
  border-bottom: none;
}

.Processes li {
  width: 140px;
  word-break: break-all;
}
