.name {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #656060;
  width: 70%;
  padding-bottom: 30px;
  margin: 30px auto 40px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  font-size: 18px;
}

.list {
  list-style: none;
}

.list li {
  display: flex;
  column-gap: 26px;
  margin-bottom: 40px;
  padding: 12px 0 12px 12px;
  border-radius: 4px;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: inherit;
}

.list .active li {
  background-color: #8e24aa;
  color: white;
}

.host {
  justify-content: center;
  padding: 0;
  margin-top: -40px;

  /* margin-left: -20px; */
}
.host img {
  margin-right: -15px;
}

.list li p {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
/* .list li img {
  filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg)
    brightness(87%) contrast(156%);
} */

.list li:hover {
  background-color: #8e24aa;
  color: white;
}

.list li:hover img,
.list .active li img {
  /* filter: invert(0%) sepia(95%) saturate(4%) hue-rotate(232deg) brightness(101%)
    contrast(100%); */
  filter: brightness(0) invert(1);
}

.host:hover {
  background-color: transparent !important;
  color: #8e24aa !important;
}
.host:hover img {
  filter: invert(25%) sepia(24%) saturate(4888%) hue-rotate(266deg)
    brightness(94%) contrast(110%) !important;
}
